<ion-view title="天氣預報">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()">
        </button>
    </ion-nav-buttons>  
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                {{weatherData.locationName}}
            </div>
            <div class="item item-text-wrap">
                <table>
                    <tr>
                        <td colspan="3">{{weatherData.weatherElement[0].time[0].parameter.parameterName}}</td>
                    </tr>
                    <tr>                        
                        <td rowspan="2" class="symbol"><img src="http://www.cwb.gov.tw/V7/symbol/weather/gif/day/{{weatherSymbol[0]}}.gif" /></td>
                        <td>氣 溫：</td>
                        <td>{{weatherData.weatherElement[2].time[0].parameter.parameterName}} ~ {{weatherData.weatherElement[1].time[0].parameter.parameterName}} °C</td>
                    </tr>
                    <tr>
                        <td>降雨機率：</td>
                        <td>{{weatherData.weatherElement[4].time[0].parameter.parameterName}} %</td>
                    </tr>
                    <tr>
                        <td colspan="3">現在感覺 {{weatherData.weatherElement[3].time[0].parameter.parameterName}}</td>
                    </tr>
                </table>              
            </div>
        </div>

         <div class="card">
            <div class="item item-divider">
                天氣預報
            </div>
            <div class="item item-text-wrap">
                <table>
                    <tr>
                        <td>{{forecastTitle1}}</td>
                        <td>{{forecastTitle2}}</td>
                    </tr>
                    <tr>
                        <td>{{weatherData.weatherElement[0].time[1].parameter.parameterName}}</td>
                        <td>{{weatherData.weatherElement[0].time[2].parameter.parameterName}}</td>
                    </tr>
                    <tr>
                        <td class="symbol"><img src="http://www.cwb.gov.tw/V7/symbol/weather/gif/day/{{weatherSymbol[0]}}.gif" /></td>
                        <td class="symbol"><img src="http://www.cwb.gov.tw/V7/symbol/weather/gif/day/{{weatherSymbol[0]}}.gif" /></td>
                    </tr>
                    <tr>
                        <td class="col-padding">氣溫： {{weatherData.weatherElement[2].time[1].parameter.parameterName}} ~ {{weatherData.weatherElement[1].time[1].parameter.parameterName}} °C</td>
                        <td>氣溫： {{weatherData.weatherElement[2].time[2].parameter.parameterName}} ~ {{weatherData.weatherElement[1].time[2].parameter.parameterName}} °C</td>
                    </tr>
                    <tr>
                        <td>降雨機率： {{weatherData.weatherElement[4].time[1].parameter.parameterName}} %</td>
                        <td>降雨機率： {{weatherData.weatherElement[4].time[2].parameter.parameterName}} %</td>
                    </tr>                    
                </table>                       
            </div>
        </div>
    </ion-content>
</ion-view>