<ion-view title="天氣預報">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="">
            {{nowLocation}}
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card" ng-repeat="data in weatherForecastData">
            <div class="item item-divider">
                {{data.locationName}}
            </div>
            <div class="item item-text-wrap">
                {{data.weatherElement[0].time[0].parameter.parameterName}}
            </div>
            <div class="item item-divider">
                降雨機率：{{data.weatherElement[4].time[0].parameter.parameterName}}%
            </div>
        </div>
    </ion-content>
</ion-view>